.pokemon-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.pokemon-box {
	flex-basis: calc(33.33% - 20px); /* Adjust the width for 3 boxes per line */
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.pokemon-box img {
	width: 100px;
	height: 100px;
}

.pokemon-info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.pokemon-name {
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
}

.pokemon-id {
	font-size: 14px;
	margin-left: 5px;
	color: #888;
}

.search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	background-color: #d3c7c7;
	border-radius: 5px;
	padding: 10px;
}

.search-bar input {
	flex-grow: 1;
	border: none;
	outline: none;
	background-color: transparent;
	color: black;
	font-size: 18px;
	padding-right: 30px;
}

.search-icon {
	width: 20px; /* Adjust the width of the icon */
	height: 20px; /* Adjust the height of the icon */
	margin-left: 10px; /* Adjust the margin as needed */
	cursor: pointer;
}

.table {
	width: 100%;
	border: 3px solid black;
	border-collapse: collapse;
}

.table th,
.table td {
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}

.table-hover:hover {
	background-color: #b8b7b7;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(128, 128, 128, 0.7);  /* This gives the grey overlay effect */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;  /* Ensures the overlay is above everything else */
  }
  
  .pokemon-detail {
	width: 300px;  /* You can adjust this as needed */
	padding: 20px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	background-color: #ffffff;  /* A white background so that content stands out against the overlay */
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1001;  /* This ensures the details box is above the overlay */
  }
  
  .pokemon-detail button {
	position: absolute;  /* This positions the close button at the top right corner of the detail box */
	right: 10px;
	top: 10px;
	background-color: red;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
  }
  
.generation-filter {
    margin: 20px 0;
}

.generation-filter select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #BCBDC9;
    border-radius: 5px;
    background-color: #BCBDC9;
    cursor: pointer;
}

